name: Jekyll Site CI

on:
  push:
    branches:
      - main
  pull_request:
    branches-ignore:
      - main  # Ignore pull requests targeting main to avoid duplicate runs

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'

    - name: Install dependencies
      run: bundle install

    - name: Build site with Jekyll
      run: bundle exec jekyll build

    - name: Deploy to GitHub Pages
      if: github.event_name == 'push'  # Prevent deployment from running on PRs
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site
